class Main{
    static int factorial(int n){
        int fact=1;
        for(int i=1;i<=n;i++){
            fact=fact*i;
        }
        return fact;
    }
    public static void main(String[]args){
        int num=145;
        int temp=num;
        int sum=0;
        while(temp>0){
            int rem = temp%10;
            sum+=factorial(rem);
            rem=0;
            temp=temp/10;
        }
        
        if(num==sum){
            System.out.println("Strong number");
        }
        else{
            System.out.println("not a strong number");
        }
    }
}
